.banner-container-wrapper {
  max-width: 1200px;
  margin: auto;
  padding-top: 30px;
}
.banner-container {
  display: flex;
}
.sales-links {
  width: 150px;
  height: 108px;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  align-items: center;
  text-decoration: none;
  color: black;
  font-size: 14px;
  gap: 0px;
}
.icon-wrapper {
  height: 70px;
}
.icon {
  width: 45px;
  height: 45px;
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: gold;
  font-size: 20px;
}
