.categories-items {
  width: 119px;
  height: 150px;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  align-items: center;
  text-decoration: none;
  color: black;
  /* font-size: 14px; */
  gap: 0px;
  border: 1px solid black;
  box-sizing: border-box;
  padding: 0 6px;
  text-align: center;
}
.shirt-wrapper {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.shirt {
  font-size: 80px;
}
